# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual environment
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Entorno
.env
*.env

# Editores
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Static collected
staticfiles/

# Comandos usados / notas personales
comandos*.txt
notas*.txt
*.md.local